.projects {
  background-color: #414141;
  font-family: "Saira", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
}

.projects__start {
  margin: 40px 0 20px 0;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.projects__line {
  width: 300px;
  height: auto;
}

.projects__title {
  font-size: 35px;
  font-weight: 400;
}

.projects__subtitle {
  width: 100%;
  max-width: 610px;
  text-align: center;
  align-self: center;
  font-size: 16px;
  margin: 0 0 40px 0;
  line-height: 1.5;
}

.projects__grid {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  width: 1260px;
  margin: 0 20px;
}

.projects__card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: #333;
  height: 300px;
  cursor: pointer;
}

.projects__tag {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  background-color: #ffffff;
  color: #414141;
  padding: 5px 18px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  letter-spacing: 0.5px;
}

.projects__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.projects__card:hover img {
  transform: scale(1.1);
}

.projects__card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 25px 20px;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  display: flex;
  align-items: center;
  gap: 12px;
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 400;
}

.projects__button {
  align-self: center;
  margin-top: 50px;
  padding: 12px 40px;
  background: transparent;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.projects__button:hover {
  background: white;
  color: #414141;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__content {
  background: #2a2a2a;
  border-radius: 15px;
  max-height: 90vh;
  position: relative;
  height: 100%;
  max-width: 850px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal__details {
  padding: 15px;
  width: 100%; /* Garante que o fundo escuro do texto ocupe tudo */
  box-sizing: border-box;
}

.modal__details h3 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.modal__details p {
  margin-top: 5px;
  color: #bbb;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1010;
  padding: 0;
  transition: color 0.3s ease;
}

.modal__close:hover {
  color: #ccc;
}

@media (max-width: 1150px) {
  .projects__grid {
    width: 640px;
    align-self: center;
    grid-template-columns: repeat(2, 300px);
  }

  .projects__line {
    width: 150px;
  }
}

@media (max-width: 650px) {
  .projects__grid {
    width: 300px;
    align-self: center;
    grid-template-columns: 300px;
  }

  .projects__start {
    gap: 10px;
  }

  .projects__line {
    width: 50px;
  }

  .projects__title {
    font-size: 18px;
    text-align: center;
  }

  .projects__subtitle {
    font-size: 12px;
  }

  .modal__content {
    height: 400px;
  }
}
