.about {
  min-height: 680px;
  background-color: #171717;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.about__start {
  margin: 30px 0;
  display: flex;
  gap: 35px;
  justify-content: center;
}

.about__line {
  width: 300px;
}

.about__title {
  align-self: center;
  font-size: 35px;
  font-weight: 400;
}

.about__grid {
  margin: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 540px);
  grid-template-rows: repeat(3, 140px);
  gap: 10px 40px;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "title card"
    "description card"
    "list card";
}

.about__grid-title {
  grid-area: title;
}

.about__description {
  font-family: "Inter";
  grid-area: description;
  font-size: 18px;
  color: #9a9797;
  margin: 0 0 30px 0;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-area: list;
  padding: 0;
  gap: 10px;
}

.about__list-elements {
  list-style-type: none;
  font-size: 14px;
}

.about__list-icon {
  padding: 0 10px 0 0;
  vertical-align: middle;
}

.about__card {
  width: 540px;
  height: 130px;
  border: 0.5px solid #717070;
  border-radius: 10px;
  background-color: #1f1f1f;
  transition: all 0.3s ease;
  font-family: "Roboto";
}

.about__card:hover {
  transform: translateY(-5px);
  border-color: #ffffff;
}

.about-card__icon {
  width: 40px;
  height: 40px;
  position: relative;
  left: 30px;
  top: 45px;
}

.about-card__title {
  width: 75px;
  font-size: 20px;
  position: relative;
  left: 100px;
  top: -35px;
}

.about-card__subtitle {
  width: 430px;
  position: relative;
  left: 100px;
  top: -35px;
  font-size: 14px;
  color: #9a9797;
}

.about__informations {
  width: 1080px;
  height: 100px;
  margin: 70px 0;
  align-self: center;
  border: 1px solid #717070;
  border-radius: 10px;
  background-color: #1f1f1f;
  display: flex;
  gap: 200px;
  justify-content: center;
}

.informations {
  width: 150px;
  gap: 10px 20px;
  justify-content: center;
  align-content: center;
}

.informations-number {
  margin: 0;
  font-size: 32px;
  justify-self: center;
}

.informations-text {
  margin: 0;
  font-size: 16px;
  justify-self: center;
}

@media screen and (max-width: 1150px) {
  .about {
    min-height: 900px;
  }

  .about__start {
    margin: 50px 0 0 0;
  }

  .about__title {
    font-size: 32px;
  }

  .about__line {
    width: 150px;
  }

  .about__grid {
    margin: 0;
    grid-template-columns: repeat(1, 540px);
    grid-template-rows: repeat(6, 140px);
    grid-template-areas:
      "title"
      "description"
      "list"
      "card"
      "card"
      "card";
  }

  .about__grid-title {
    text-align: center;
    grid-area: title;
  }

  .about__description {
    text-align: center;
    grid-area: description;
  }

  .about__list {
    margin: auto;
    grid-area: list;
    gap: 10px 30px;
  }

  .about__informations {
    width: 670px;
    height: 100px;
    margin: 70px 0;
    align-self: center;
    border: 1px solid #717070;
    border-radius: 10px;
    background-color: #1f1f1f;
    display: flex;
    gap: 75px;
    justify-content: center;
  }

  .informations {
    width: 150px;
    gap: 10px 20px;
    justify-content: center;
    align-content: center;
  }

  .informations-number {
    margin: 0;
    font-size: 32px;
    justify-self: center;
  }

  .informations-text {
    margin: 0;
    font-size: 16px;
    justify-self: center;
  }
}

@media screen and (max-width: 650px) {
}
