.footer {
  height: 120px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  font-family: "Inter";
  align-items: center;
}

.footer__description {
  margin: 10px;
  font-size: 15px;
  color: #9a9797;
  font-family: "Saira";
}

.footer__socialNetwork {
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.hover-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.hover-icon .icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.hover-icon .icon--white {
  opacity: 0;
}

.hover-icon:hover .icon--white {
  opacity: 1;
}

.hover-icon:hover .icon--grey {
  opacity: 0;
}

@media screen and (max-width: 1150px) {
  .footer {
    gap: 80px;
  }

  .footer__socialNetwork {
    margin: 0 20px 0 0;
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 50px);
    gap: 15px;
    grid-template-areas:
      "logo social"
      "copyright copyright";
  }

  .footer__logo {
    grid-area: logo;
    align-items: center;

    justify-self: center;
  }

  .footer__icon {
    width: 80px;
  }

  .footer__description {
    grid-area: copyright;
    justify-self: center;
    width: 280px;
    align-items: center;
  }

  .footer__socialNetwork {
    grid-area: social;
    justify-self: center;
  }
}
