.contacts {
  height: 100%;
  background-color: #171717;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.contacts__start {
  margin: 40px 0 20px 0;
  display: flex;
  gap: 35px;
  justify-content: center;
}

.contacts__line {
  width: 300px;
}

.contacts__title {
  align-self: center;
  font-size: 35px;
  font-weight: 400;
  font-family: "Saira";
}

.contacts__subtitle {
  width: 610px;
  text-align: center;
  align-self: center;
  font-size: 16px;
  margin: 0 0 40px 0;
  font-family: "Saira";
  color: #8d8d8d;
}

.contacts__grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 30px;
  padding-bottom: 40px;
}

.contacts__description {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 24px;
}

.contacts__contacts {
  display: flex;
  gap: 15px;
  line-height: 1.5;
}

.contacts__phone {
  font-family: "Inter";
  color: #9a9797;
}

.contacts__phone span {
  font-family: "Inter";
  color: #ffffff;
}

.contacts__mail,
.contacts__adress,
.contacts__hour {
  font-family: "Inter";
  color: #9a9797;
}

.contacts__mail span {
  color: #ffffff;
}

.contacts__adress span {
  color: #ffffff;
}

.contacts__hour span {
  color: #ffffff;
}

.contacts__follow {
  font-family: "Inter";
  color: #9a9797;
}

.contacts__socials {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.contacts__links .contacts__social {
  width: 40px;
  height: 40px;
  border: 1px solid #9a9797;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__form {
  border: 1px solid #717070;
  border-radius: 10px;
  width: 450px;
  height: 500px;
  font-family: "Inter";
}

.contacts__form-title {
  margin: 30px 0 0 30px;
  font-size: 24px;
}

.form__description {
  margin: 30px 0 0 30px;
  font-size: 14px;
  font-family: "Inter";
}

.contacts__name,
.contacts__email {
  margin: 10px 0 0 30px;
  background-color: #000000;
  width: 370px;
  height: 42px;
  border-radius: 10px;
  border: 0.5px solid #9a9797;
  padding: 0 0 0 15px;
  color: #ffffff;
}

.contacts__mensage {
  margin: 10px 0 0 30px;
  background-color: #000000;
  width: 370px;
  height: 100px;
  border-radius: 10px;
  border: 0.5px solid #9a9797;
  padding: 10px 0 0 15px;
  resize: none;
  color: #ffffff;
}

.contacts__btn {
  background-color: #ffffff;
  color: #000000;
  margin: 15px 0 0 30px;
  width: 388px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
}

.contacts__btn-icon {
  padding: 0 0 0 10px;
}

@media screen and (max-width: 1150px) {
  .contacts {
    height: 100%;
    background-color: #171717;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .contacts__start {
    margin: 50px 0 0 0;
  }

  .contacts__line {
    width: 150px;
  }

  .contacts__title {
    font-size: 32px;
  }

  .contacts__grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 15px;
    padding-bottom: 40px;
  }

  .contacts__description {
    font-size: 18px;
  }

  .contacts__contacts {
    font-size: 12px;
  }

  .contacts__form {
    width: 300px;
    height: 400px;
  }

  .contacts__form-title {
    margin: 20px 0 0 20px;
    font-size: 18px;
  }

  .form__description {
    margin: 20px 0 0 20px;
    font-size: 12px;
  }

  .contacts__name,
  .contacts__email {
    margin: 10px 0 0 20px;
    width: 250px;
    height: 34px;
    font-size: 12px;
    padding: 0 0 0 10px;
  }

  .contacts__mensage {
    margin: 10px 0 0 20px;
    width: 250px;
    height: 70px;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 0 0 10px;
  }

  .contacts__btn {
    margin: 15px 0 0 20px;
    width: 265px;
    height: 34px;
    font-size: 12px;
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .contacts__start {
    margin: 30px 0 15px 0;
    gap: 15px;
  }

  .contacts__line {
    width: 70px;
  }

  .contacts__title {
    font-size: 20px;
  }

  .contacts__subtitle {
    width: 300px;
    font-size: 12px;
    margin: 0 0 40px 0;
  }

  .contacts__talk {
    font-size: 12px;
  }

  .contacts__grid {
    grid-template-columns: 250px;
    gap: 40px;
    grid-template-areas:
      "form"
      "contacts";
  }
  .contacts__information {
    grid-area: contacts;
  }

  .contacts__description {
    font-size: 14px;
  }

  .contacts__contacts {
    display: flex;
    gap: 15px;
    font-size: 12px;
  }

  .contacts__follow {
    font-size: 14px;
  }

  .contacts__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .contacts__social {
    border: 1px solid #1c1c1c;
  }

  .contacts__form {
    width: 250px;
    height: 390px;
  }

  .form__description {
    margin: 20px 0 0 20px;
    font-size: 12px;
  }

  .contacts__name,
  .contacts__email {
    margin: 10px 0 0 20px;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    font-size: 12px;
  }

  .contacts__mensage {
    margin: 10px 0 0 20px;
    width: 200px;
    font-size: 12px;
  }

  .contacts__btn {
    width: 210px;
    height: 35px;
    font-size: 12px;
  }
}
